/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  /* 
      Change favorite color
      Default: hsl(162, 100%, 40%)
      Orange: hsl(14, 100%, 65%) - Blue: hsl(210, 100%, 70%)
      Pink: hsl(356, 100%, 75%) - Purple: hsl(250, 100%, 75%)l
  */

  --hue: 0;
  --first-color: hsl(var(--hue), 80%, 30%);
  --first-color-alt: hsl(var(--hue), 56%, 35%);
  --title-color: hsl(0, 8%, 95%);
  --text-color: whitesmoke;
  --bg-color: #010000;
  --second-bg-color: linear-gradient(rgba(63, 1, 1, 0), rgb(100, 28, 31, 1));
  --container-color: hsl(0, 80%, 6%);
  --border-color: rgb(57, 1, 1);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Roboto', sans-serif;
  --biggest-font-size: 2rem;
  --bigger-font-size: 1.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /* Font weight */
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /* z index */
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*  Responsive typography  */
@media screen and (min-width: 1152px) {
  :root {
    --biggest-font-size: 4rem;
    --bigger-font-size: 2rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/* Main CSS */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

input,
textarea,
button,
body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

input,
textarea,
button {
  outline: none;
  border: none;
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

/* Reuseable CSS */
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 2rem;
}

.section--title,
.section--subtitle {
  text-align: center;
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

.section--title {
  font-size: var(--h1-font-size);
  margin-bottom: 1.5rem;
}

.section--subtitle {
  font-size: var(--small-font-size);
  margin-bottom: 0.25rem;
}

.section--title span {
  color: var(--first-color);
}

.main {
  overflow: hidden;
}

/* Header and Nav */
.header {
  position: fixed;
  width: 100%;
  background-color: var(--container-color);
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav--logo {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav--toggle,
.nav--close {
  display: flex;
  font-size: 1.25rem;
  color: var(--title-color);
  cursor: pointer;
}
/* Media query for mobile */
@media screen and (max-width: 1023px) {
  .nav--menu {
    position: fixed;
    top: 0;
    right: -100%;
    background-color: hsla(0, 0%, 10%, 0.3);
    width: 75%;
    height: 100%;
    padding: 4rem 0 0 3rem;
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    transition: right 1s;
  }
}

.nav--list {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

.nav--link {
  color: var(--title-color);
  font-weight: var(--font-medium);
  transition: color 0.6s;
}

.nav--link:hover {
  color: var(--first-color);
}

.nav--close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

/* Show menu */
.show-menu {
  right: 0;
}

/* Blur Header */
.blur-header {
  background-color: transparent;
}

.blur-header::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 10%, 0.3);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  top: 0;
  left: 0;
  z-index: -1;
}

/* Active link */

/* Home */
.home {
  background-color: var(--bg-color);
}
.home--container {
  padding-top: 2rem;
  row-gap: 2.5rem;
}

.home--content {
  display: grid;
  row-gap: 2rem;
}

.home--info {
  text-align: center;
}

.home--position {
  font-size: var(--bigger-font-size);
}

.home--title span {
  color: var(--first-color);
}

.home--title {
  font-size: var(--biggest-font-size);
  font-weight: var(--font-semi-bold);
}

.home--para {
  margin-block: 3rem 1.5rem;
}

.home--sci {
  display: flex;
  justify-content: center;
  column-gap: 1.5rem;
}

.home--sci a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: transparent;
  border: 0.2rem solid var(--border-color);
  border-radius: 40%;
  font-size: 35px;
  color: var(--text-color);
  z-index: 1;
  overflow: hidden;
}

.home--sci a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  z-index: -1;
  transition: 1s;
}

.home--sci a:hover::before {
  width: 100%;
  background-color: var(--first-color);
}

/* .home--sci-link{
  display: flex;
  background-color: var(--first-color);
  padding: .5rem;
  color: var(--text-color);
  font-size: 1.5rem;
  border: 0.2rem solid var(--border-color);
  border-radius: 1rem ;
} */

/* Button */
.button {
  display: inline-block;
  background-color: var(--first-color);
  padding: 1rem 1.75rem;
  border-radius: 0.5rem;
  color: var(--title-color);
  font-weight: var(--font-medium);
  z-index: 1;
  overflow: hidden;
}

.button:hover {
  box-shadow: 0 8px 24px hsla(var(--hue), 100%, 40%, 0.25);
}

/* About */
.about {
  background: var(--second-bg-color);
  /* padding-bottom: 6rem; */
}

.about--container {
  row-gap: 2.5rem;
}

.about--box {
  text-align: center;
}

.about--description {
  margin-bottom: 2rem;
}

.about--img {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  justify-self: center;
  align-items: center;
}

.about--img img {
  width: 320px;
  border-radius: 50%;
  border: 0.2rem solid var(--first-color);
}

/*=============== SKILLS ===============*/

/*=============== SERVICES ===============*/

/*=============== PROJECTS ===============*/

/*=============== CONTACT ===============*/

/*=============== FOOTER ===============*/

/*=============== SCROLL BAR ===============*/

/*=============== SCROLL UP ===============*/

/* Show Scroll Up */

/*=============== BREAKPOINTS ===============*/
/* For small devices */

/* For medium devices */

/* For large devices */
